<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericafenyo.tracker">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <application>
    <service android:name=".StateMachineService" />
    <service
        android:name=".analysis.AnalysisJobIntentService"
        android:permission="android.permission.BIND_JOB_SERVICE" />

    <receiver
        android:name=".StateMachineReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="tracker.intent.action.INITIALIZE" />
        <action android:name="tracker.intent.action.START" />
        <action android:name="tracker.intent.action.PAUSE" />
        <action android:name="tracker.intent.action.RESUME" />
        <action android:name="tracker.intent.action.STOP" />
        <action android:name="tracker.intent.action.DISABLE" />
        <action android:name="tracker.intent.action.ENABLE" />
      </intent-filter>
    </receiver>
    <receiver android:name=".location.LocationUpdatesReceiver" />
  </application>
</manifest>